:root {
    --background-svg: url('../../../fotos/portada1.svg');
  }

.container {
    background-image: url('../../../fotos/portada1.svg');
    width: 99vw;
    height: 95vh;
    object-fit:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}


