.AllContainer{
    background-color: rgb(43, 43, 41);
    height: 100vh;
}
.ContainerDetail{
    display: flex;
    width: 100%;
    height: auto ;
    background-color: rgb(43, 43, 41);
    justify-content: center;
    overflow: hidden;
    gap: 3rem;
    color: aliceblue;
}

.ImgContainer{
    display:flex ;
    align-items: center;
   justify-content: center;
    width: 400px;
    height: 400px;
    /* background-color: blue; */
}

.Img{
    width: 380px;
    object-fit: cover;
}

.InfoContainer{
    display: flex;
    column-gap: 3rem;
    padding: 6rem;

}

.ContainerBack{
    display: flex;
   cursor: pointer;
    align-items: center;
    padding-left:30px ;
    height: 60px;
    padding: 20px;
    
}
.Back{
    border: 3px solid rgb(163, 215, 240);
    border-radius: 10px;
    padding: 5px;
    color: aliceblue;
    font-size: 1.2em;
    background-color: rgb(99, 99, 99);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: rgb(99, 99, 99);
  }